<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KYC</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/assets/css/Custom-Upload-File.css">
    <link rel="stylesheet" href="/assets/css/Drag--Drop-Upload-Form.css">
    <link rel="stylesheet" href="/assets/css/Responsive-Form-1.css">
    <link rel="stylesheet" href="/assets/css/Responsive-Form.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body><img src="/assets/img/library_logo_transparent.png" style="width: 346px;"><strong style="color: rgb(255,255,255);text-align: center;">Know Your Customer (KYC) Protocol</strong><small style="text-align: center;color: rgb(255,255,255);">It looks like you need to verify your Identity to work/become beta tester here.&nbsp;</small>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/Custom-Upload-File.js"></script>
</body>

</html>