<!DOCTYPE html>
<html>
    <head>
        <title>dashboard login</title>
    </head>
    <body>
        <label for="pass">Code</label>
        <input id="input" name="pass" type="text">
        <button onclick="login_seq()" id="login">Login</button>
        <script src="../js/admin-login.js"></script>
    </body>
</html>